<!DOCTYPE html>
{% load static %}
{% load group_extra %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NFL Picks</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <link rel="stylesheet" media="screen and (min-width: 601px)" href="{% static 'desktop.css' %}" />
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="{% static 'mobile.css' %}" />

</head>

<style>

</style>


<body>

<!--TOP Banner-->
<div class="mainBanner">
    <h1>
        NFL 2017 Season Picks
        <img align="right" src="{% static 'Logo-NFL.png' %}" alt="My image"/>
    </h1>
</div>

<!--Navigation Bar-->
<div class="navBar">
    <a href="/selectPicks">
        <button>Submit Picks</button>
    </a>
    <a href="/viewPicks">
        <button>My Picks</button>
    </a>
    <a href="/results">
        <button>Results</button>
    </a>

    {% if request.user|has_group:"modifySpread" %}
        <a href="/getSpread">
            <button>Update Spread</button>
        </a>
    {% endif %}


    {% if user.is_authenticated %}
        <button style="float: right;">{{user.username}}</button>
        <a href="/accounts/logout">
            <button  style="float: right;">Logout</button>
        </a>
    {% else %}
        <a href="/accounts/login">
            <button  style="float: right;">Login</button>
        </a>
        <a href="/accounts/createUser">
            <button  style="float: right;">Create User</button>
        </a>
    {% endif %}
</div>


<div class="contentPage">
    <div class="content">
        {{message}}
        {% block content %}
        {% endblock %}
    </div>
</div>

</body>

<footer>
    <div class="footerBar">
        <h6 align="center">LETS GO BUFFALO</h6>
    </div>
    >
</footer>

</html>