{% extends 'base.html' %}

{% block content %}
<form action="/setSpread/" method="post">
    {% csrf_token %}

    <label class="radio-inline" style="width: 9%;">
        Time
    </label>
    <label class="radio-inline" style="width: 8%;">
        Home
    </label>
    <label class="radio-inline" style="width: 8%;">
        Away
    </label>
    <label class="radio-inline" style="width: 8%;">
        Spread
    </label>
    <hr>
    {% for match in matches %}
        <label class="radio-inline" style="width: 9%;">
            {{match.start_time}}
        </label>
        <label class="radio-inline" style="width: 8%;">
            {{match.home.team_name}}
        </label>
        <label class="radio-inline" style="width: 8%;">
            {{match.away.team_name}}
        </label>
        <label class="radio-inline">
            {{match.home.team_name}}:<input type="number" name="{{match.pk}}" value="{{match.spread}}" required>
        </label>
        <hr>
    {% endfor %}

    <input type="submit" value="Submit">
</form>

{% endblock %}