{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Please enter all fields</p>
{% endif %}

<form method="post">
    {% csrf_token %}

    <div>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </div>
    <div>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </div>
    <div>
        <td>{{ form.first_name.label_tag }}</td>
        <td>{{ form.first_name }}</td>
    </div>
    <div>
        <td>{{ form.last_name.label_tag }}</td>
        <td>{{ form.last_name }}</td>
    </div>
    <div>
        <td>{{ form.email.label_tag }}</td>
        <td>{{ form.email }}</td>
    </div>

    <div>
        <input type="submit" value="Create" />
    </div>
</form>

{% endblock %}