{% extends "base.html" %}

{% block content %}

<style>
    .tag{
        width: 8%
    }
</style>

{% if form.errors %}
<p>Please enter all fields</p>
{% endif %}

<form method="post">
    {% csrf_token %}

    <div>
        <label class="tag" for="id_username">Username:</label>
        <input type="text" name="username" maxlength="150" required="" id="id_username">
    </div>
    <div>
        <label class="tag" for="id_password">Password:</label>
        <input type="password" name="password" maxlength="128" required="" id="id_password">
    </div>
    <hr>
    <div>
        <label class="tag" for="id_first_name">First name:</label>
        <input type="text" name="first_name" maxlength="30" id="id_first_name">
    </div>
    <div>
        <label class="tag" for="id_last_name">Last name:</label>
        <input type="text" name="last_name" maxlength="30" id="id_last_name">
    </div>
    <div>
        <label class="tag" for="id_email">Email address:</label>
        <input type="email" name="email" maxlength="254" id="id_email">
    </div>

    <br>
    <div>
        <input type="submit" value="Create">
    </div>
</form>

{% endblock %}
